.page {
  @include page;
  &__lost {
    background-image: radial-gradient(
      circle at center,
      var(--color-primary--light),
      var(--color-primary--dark)
    ) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $layout-gap;
  }
}
