$container-padding: 1.6rem;
$container-padding--sm: 1rem;
$container-padding--xs: 0.5rem;
$container-border-radius: $container-padding;
$container-border-radius--xs: $container-padding--xs;
$container-border-radius--sm: $container-padding--sm;

$form-ratio: 1.15;
$form-width--xs: 18rem;
$form-height--xs: calc($form-width--xs * $form-ratio);
$form-width--sm: 25rem;
$form-height--sm: calc($form-width--sm * $form-ratio);
$form-width--md: 30rem;
$form-height--md: calc($form-width--md * $form-ratio);
$form-width--lg: 35rem;
$form-height--lg: calc($form-width--lg * $form-ratio);

$text-input-width--xs: 11rem;
$text-input-width--sm: 18rem;
$text-input-width--md: 23rem;
$text-input-width--lg: 28rem;
