/**
 *
 * Table of content
 *
 * COLORS
 * Brand colors...........Main brand colors. To be used the most
 * Secondary colors.......White and black, gray scale, secondary colors
 * Utility colors.........Used to represent states: error, warn, etc.
 *
 * TYPOGRAPHY
 * Font families..........The fonts used in the design system
 * Sizes..................Font sizes for body texts, paragraphs, inputs
 * Heading sizes..........Font sizing for page headings
 *
 * BREAKPOINTS
 * Breakpoints............Global responsive breakpoints definitions
 *
 * SPACING
 * Spacing................Global set of fixed spacing variables
 */

/*=============================================
 =            COLORS                           =
 =============================================*/

/*----------  Brand color  ----------*/
$color-blue--200: #90caf9;
$color-blue--500: #2196f3;
$color-blue--700: #1976d2;

/*----------  Supporting colors  ----------*/
$color-green--200: #a5d6a7;
$color-green--500: #4caf50;
$color-green--700: #388e3c;

$color-orange--200: #ffcc80;
$color-orange--500: #ff9800;
$color-orange--700: #f57c00;

$color-red--200: #ef9a9a;
$color-red--500: #f44336;
$color-red--700: #d32f2f;

/*----------  Neutral colors  ----------*/
$color-white--1: #ffffff;
$color-white--2: #faf9f9;
$color-white--3: #f4f2f2;
$color-white--4: #f0eeee;
$color-white--5: #ccc;

$color-grey-dark--1: #333;
$color-grey-dark--2: #777;
$color-grey-dark--3: #999;

/*=====  End of COLORS ======*/

/*=============================================
=            TYPOGRAPHY                       =
=============================================*/

/**
 *
 * Font families
 * 1-For headings
 * 2-For body text
 */

$raleway: "Raleway", sans-serif;
$poppins: "Poppins", sans-serif;

/* Font sizes */
$fs-xs: 1.2rem; // 12px
$fs-sm: 1.4rem; // 14px
$fs-base: 1.6rem; // 16px
$fs-lg: 1.8rem; // 18px
$fs-xl: 2.4rem; // 24px

/* Heading font sizes */
$h-1: 2.2rem; // 22px
$h-2: 2.2rem; // 22px
$h-3: 1.6rem; // 16px
$h-4: 1.8rem; // 18px
$h-5: 1.2rem; // 12px
$h-6: 1.2rem; // 12px

/* Font weights */
$fw-light: 100;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

/*=====  End of TYPOGRAPHY  ======*/

/*=============================================
=               BREAKPOINTS                   =
=============================================*/

$breakpoints: (
  xs: 30rem,
  md: 48rem,
  lg: 64rem,
  xl: 80rem,
);

/*=====  End of BREAKPOINTS  ======*/

/*=============================================
=                  SPACING                    =
=============================================*/

$spacing: (
  xxxs: 0.25rem,
  xxs: 0.5rem,
  xs: 0.75rem,
  sm: 1rem,
  md: 1.5rem,
  lg: 2rem,
  xl: 3rem,
  xxl: 4.5rem,
  xxxl: 6rem,
) !default;

/*=====  End of SPACING   ======*/
