.btn {
  border: none;
  padding: $container-padding--sm $container-padding;
  border-radius: $container-border-radius--xs;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  font-size: 2rem;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary--dark)
  );
  transition: all 0.2s;
  @include box-shadow--sm;

  &:hover {
    background-image: linear-gradient(
      to right bottom,
      var(--color-primary--dark),
      var(--color-primary)
    );
  }

  &:active {
    @include box-shadow--xs;
  }

  &--submit {
    // border-radius: 1rem;
  }
}
