.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.15rem 0.15rem var(--color-shadow);
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    transform: translateY(-0.1rem);
  }
  &:active {
    box-shadow: 0 0.05rem 0.05rem var(--color-shadow);
    transform: translateY(0);
  }

  &--primary {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }

  &--link {
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
    &:hover {
      background-color: var(--color-secondary--light);
    }
  }

  &--lost {
    border-radius: 2rem;
  }

  &--submit {
    width: 100%;
  }

  &--close {
    padding: 0;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    border-radius: 50%;
    box-shadow: none;

    &:hover {
      background-color: var(--color-white-d--4);
    }
    &:active {
      box-shadow: none;
    }
  }

  &--text {
    box-shadow: none;
    background-color: transparent;

    &:hover {
      background-color: var(--color-white-d--3);
    }
  }

  &--danger {
    color: var(--color-error);
  }

  &--upload {
    padding: 0;
    color: transparent;
    box-shadow: none;
    background-color: transparent;
    &::file-selector-button {
      padding: 0;
      border: none;
      box-shadow: none;
      width: 3.6rem;
      height: 3.6rem;
      color: transparent;
      border-radius: 50%;
      background-color: var(--color-transparent);

      &:active {
        box-shadow: none;
        transform: none;
      }
    }
  }
}
