.form {
  background-color: var(--color-primary);
  color: var(--color-onPrimary);
  @include form-dimensions;
  @include box-shadow;
  display: flex;
  gap: 2rem;
  flex-direction: column;

  .fieldset {
    position: relative;
    width: 100%;
    height: min-content;
    // overflow-x: hidden;
    // overflow-y: visible;
    border: none;
  }

  .btn--submit {
    flex-grow: 0;
  }
}
