.inputset {
  display: grid;
  border: none;
  grid-template-columns: 2rem repeat(10, 1fr);
  grid-template-rows: 2rem 4rem 2rem;
  row-gap: 0.5rem;

  &__label {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-self: self-end;
  }

  &__input {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 0 1rem;
  }

  &__notif {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    align-self: flex-start;
  }
}
