.form {
  background-color: var(--color-primary);
  color: var(--color-onPrimary);

  @media only screen and (min-width: 200px) {
    width: 18rem;
    height: 27rem;
    padding: $container-padding--xs;
    border-radius: $container-border-radius--xs;
  }

  @media only screen and (min-width: 300px) {
    width: 20rem;
    height: 30rem;
    padding: $container-padding--xs;
    border-radius: $container-border-radius--xs;
  }

  @media only screen and (min-width: 400px) {
    width: 25rem;
    height: 37.5rem;
    padding: $container-padding;
    border-radius: $container-border-radius;
  }

  @media only screen and (min-width: 800px) {
    width: 40rem;
    padding: $container-padding;
    border-radius: $container-border-radius;
  }

  @include box-shadow;

  .fieldset {
    border: none;
  }
}
