.textinput {
  &__label {
    font-size: 1.1rem;
    padding: 0 1.6rem;
    position: absolute;
    top: 10;
    left: 10;
    color: $gray-700;
    transition: all 0.4s cubic-bezier(0.21, 1.76, 0.83, 1.61);
  }
  &__text {
    border: none;
    @include textinput-dimensions;
    background-color: var(--color-surfaces);
    transition: all 0.4s;

    &:focus {
      background-color: $white;
      outline: none;
      border-bottom: 0.1rem solid var(--color-valid);
      &:invalid {
        border-bottom: 0.1rem solid var(--color-error);
      }

      &:invalid + .textinput__label {
        color: var(--color-error);
      }
    }

    &::placeholder {
      transition: all 0.2s;
    }

    &:focus::placeholder {
      color: transparent;
    }

    &:placeholder-shown + .textinput__label {
      opacity: 0;
      transform: translateY(1.5rem);
    }

    &:focus + .textinput__label {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
