.textinput {
  &__label {
    font-size: 1.1rem;
    opacity: 0;
    position: absolute;
    top: 1.5rem;
    left: 1.6rem;

    transition: all 0.2s;
  }
  &__text {
    border: none;
    @include textinput-dimensions;
    background-color: var(--color-primary);
    transition: all 0.2s;

    &:focus {
      background-color: $white;
      outline: none;
      border-bottom: 0.1rem solid var(--color-valid);
      &:invalid {
        border-bottom: 0.1rem solid var(--color-error);
      }

      &:invalid + .textinput__label {
        color: var(--color-error);
      }
    }

    &:focus + .textinput__label {
      top: -1.7rem;
      opacity: 1;
    }
  }
}
