.user__details {
  background-color: var(--color-surface-background);
  @include box-shadow--sm;
  border-radius: $container-border-radius--xs;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  &-details {
    padding: $container-padding $container-padding--sm $container-padding--sm 0;
    flex-grow: 1;
    border: 1px solid red;
  }

  &-detail {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: all 0.2s;
    padding: 1rem 0;

    &:hover {
      background-color: $gray-300;
    }
  }

  &-update {
    border: 1px solid rebeccapurple;
    height: 100%;
    margin-left: $container-padding--sm;
  }
}
