.card {
  width: min-content;
  height: min-content;
  box-shadow: 0 0.2rem 0.2rem var(--color-shadow);
  border-radius: 1rem;
  background-color: var(--color-surface-background);

  &--user {
    width: 31rem;
    height: min-content;
    border-radius: 1rem;
    overflow: hidden;

    &__photo {
      height: min-content;
      display: grid;
      grid-template-columns: repeat(16, 2rem);
      grid-template-rows: repeat(10, 2rem);
      border-bottom: 0.1rem solid var(--color-main-background);
      overflow: inherit;
      cursor: pointer;

      &-picture {
        display: inline-block;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        grid-row: 1 / -1;
        grid-column: 4 / 13;
      }
      &-btn {
        grid-row: 8 / 10;
        grid-column: 11 / 13;
        position: relative;

        .btn {
          position: absolute;
          top: 0;
          left: 0;
        }
        .icon {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(15%, 15%);
        }
      }
    }

    &__identity,
    &__actions {
      padding: 0 1.6rem;
    }

    &__identity {
      p {
        padding: 1rem 0;
        cursor: pointer;
        transition: all 0.2s;

        &:not(:last-child) {
          border-bottom: 0.1rem solid var(--color-white-d--4);
        }
      }
    }

    &__actions {
      background-color: var(--color-main-background);
      display: flex;
      justify-content: space-between;
    }
  }
}
