@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slidein-top {
  0% {
    transform: translateY(-3rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideout-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(-3rem);
  }
}
