:root {
  --color-primary--light: #{$color-blue--200};
  --color-primary: #{$color-blue--500};
  --color-primary--dark: #{$color-blue--700};

  // This will also be used as success color
  --color-secondary--light: #{$color-green--200};
  --color-secondary: #{$color-green--500};
  --color-secondary--dark: #{$color-green--700};

  --color-warning--light: #{$color-orange--200};
  --color-warning: #{$color-orange--500};
  --color-warning--dark: #{$color-orange--700};

  --color-error--light: #{$color-red--200};
  --color-error: #{$color-red--500};
  --color-error--dark: #{$color-red--700};

  --color-on-primary: #{$color-grey-dark--1};
  --color-on-secondary: #{$color-grey-dark--1};

  --color-main-background: #{$color-white--3};
  --color-shadow: rgba(0, 0, 0, 0.4);
}
