:root {
  --color-primary--light: #{$color-blue--200};
  --color-primary: #{$color-blue--500};
  --color-primary--dark: #{$color-blue--700};

  // This will also be used as success color
  --color-secondary--light: #{$color-green--200};
  --color-secondary: #{$color-green--500};
  --color-secondary--dark: #{$color-green--700};

  --color-warning--light: #{$color-orange--200};
  --color-warning: #{$color-orange--500};
  --color-warning--dark: #{$color-orange--700};

  --color-error--light: #{$color-red--200};
  --color-error: #{$color-red--500};
  --color-error--dark: #{$color-red--700};

  --color-black--light: #{$color-black--700};
  --color-black: #{$color-black--800};
  --color-black--dark: #{$color-black--900};

  --color-white: #{$color-white--50};
  --color-white-d--1: #{$color-white--100};
  --color-white-d--2: #{$color-white--200};
  --color-white-d--3: #{$color-white--300};
  --color-white-d--4: #{$color-white--400};

  --color-on-primary: var(--color-black);
  --color-on-secondary: var(--color-black--dark);

  --color-transparent: #24232315;
  --color-main-background: var(--color-white-d--3);
  --color-surface-background: var(--color-white-d--2);
  --color-shadow: #{$color-black--500};
  --dialog-overlay: #{$color-black--500};
}
