body {
  font-family: $body-font;
  font-size: $fs-base;
}

.btn {
  font-size: $fs-sm;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: $fw-semibold;
  letter-spacing: 0.15rem;

  &--text {
    font-weight: $fw-medium;
  }
}

.text {
  &--lost {
    text-align: center;
    margin: 0 2rem;
    font-size: $fs-xl;
  }

  &--cta-signup {
    color: var(--color-primary--dark);
    font-weight: 500;
  }

  &__label,
  &__notif {
    font-size: $fs-xs;
    font-weight: 300;
  }
}

.heading {
  font-family: "Raleway", sans-serif;
  &--2 {
    font-size: $h-2;
  }
}

.inputset {
  &__input {
    font-size: $fs-sm;
    font-family: inherit;
  }
}
