body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: var(--text-color);
}

.signup__cta {
  font-size: 1.2rem;

  &-link {
    color: var(--color-secondary--dark);
    cursor: pointer;
  }
}

.detail {
  font-size: 1.6rem;
}
